    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        // QT_QPA_PLATFORMTHEME "gtk3"
        QT_QPA_PLATFORMTHEME "qt6ct"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"

        // NVidia Force as Default
        // "__NV_PRIME_RENDER_OFFLOAD" "1"
        // "__GLX_VENDOR_LIBRARY_NAME" "nvidia"
        // "__VK_LAYER_NV_optimus" "NVIDIA_only"
        // "LIBVA_DRIVER_NAME" "nvidia"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
