@define-color black-base #24273a;
@define-color white-text #cad3f5;
@define-color rosewater #f4dbd6;
@define-color red #ed8796;

* {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  font-family:
    "Symbols Nerd Font", "JetBrainsMono Nerd Font", "FiraCode Nerd Font Mono",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  /* background-color: rgba(60, 60, 76, 0.1); */
  background-color: transparent;
  color: @white-text;
}

window {
  font-weight: bold;
}

#window {
  background-color: @black-base;
  padding: 0px 10px;
  border-radius: 5px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  background-color: @black-base;
  color: @white-text;
}

#custom-window {
  background-color: @black-base;
  padding: 0px 10px;
  border-radius: 5px;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (depends on GTK style) */
  background-color: @rosewater;
  color: @black-base;
}

#workspaces button.active {
  background-color: @rosewater;
  color: @black-base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @black-base;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    background-color: @black-base;
    color: @white-text;
  }
  50% {
    color: @black-base;
    background-color: @red;
  }
  100% {
    color: @white-text;
    background-color: @black-base;
  }
}

#network {
  min-width: 4.4rem;
}

#cpu {
  min-width: 6rem;
}

.modules-left * {
  padding: 0px 1px;
  margin: 0px 2px;
}

.modules-right {
  margin-right: 5px;
}

#mpris,
#bluetooth,
#wireplumber,
#pulseaudio,
#disk,
#network,
#cpu,
#temperature,
#memory,
#clock,
#custom-notification,
#tray,
#power-profiles-daemon {
  padding: 0px 10px;
  background-color: @black-base;
  color: @white-text;
}

#mpris:hover,
#bluetooth:hover,
#wireplumber:hover,
#pulseaudio:hover,
#disk:hover,
#network:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#clock:hover,
#custom-notification:hover,
#power-profiles-daemon:hover {
  background-color: @rosewater;
  color: @black-base;
}

/* Tray is the box that holds the icons not the icons itself */
#tray {
  padding: 0px;
  background-color: transparent;
}

/* Menu is the menu that opens on click */
#tray menu {
  background-color: @black-base;
  color: @white-text;
}

#tray menu *:hover {
  background-color: @rosewater;
  color: @black-base;
}

/* Image is the icon (logo) */
#tray image {
  padding: 0 10px;
}

/* Style the container for EACH individual icon (the widget) */
#tray widget {
  background-color: @black-base; /* The default background for each icon */
}

/* Apply the hover effect directly to the widget */
#tray widget:hover {
  background-color: @rosewater;
  color: @black-base;
}
