@define-color black-base #24273a;
@define-color white-text #cad3f5;
@define-color rosewater #f4dbd6;
@define-color red #ed8796;

* {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  font-family:
    "Symbols Nerd Font", "JetBrainsMono Nerd Font", "FiraCode Nerd Font Mono",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  /* background-color: rgba(60, 60, 76, 0.1); */
  background-color: transparent;
  color: @white-text;
}

window {
  font-weight: bold;
}

#workspaces button {
  background-color: @black-base;
  color: @white-text;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (depends on GTK style) */
  background-color: @rosewater;
  color: @black-base;
}

#workspaces button.active {
  background-color: @rosewater;
  color: @black-base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @black-base;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    background-color: @black-base;
    color: @white-text;
  }
  50% {
    color: @black-base;
    background-color: @red;
  }
  100% {
    color: @white-text;
    background-color: @black-base;
  }
}

#network {
  min-width: 4.4rem;
}

#cpu {
  min-width: 6rem;
}

.modules-left * {
  padding: 0px 1px;
  margin: 0px 2px;
}

.modules-left > widget:first-child > #workspaces {
  padding-left: 0px;
}

#mpris,
#bluetooth,
#wireplumber,
#disk,
#network,
#cpu,
#temperature,
#memory,
#clock,
#custom-notification,
#tray {
  padding: 0px 10px;
  background-color: @black-base;
  color: @white-text;
}

#mpris:hover,
#bluetooth:hover,
#wireplumber:hover,
#disk:hover,
#network:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#clock:hover,
#custom-notification:hover,
#tray *:hover {
  background-color: @rosewater;
  color: @black-base;
}

#tray {
  padding: 0px;
}

#tray image {
  margin: 0px 10px;
}
